//Import variables and mixins
@import "variables";
@import "mixins";

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-primary;
}

body {
    background-color: $background-body;
}

main {
    background-color: $background-primary;
    border-radius: 5%;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    width: $mobile-width;
    margin: 6.25rem auto;

    @include desktop {
        margin: 6.25rem auto 0 auto;
    }

    img {
        margin: 3.125rem auto 1.875rem auto;
        height: 12.5rem;
        width: 12.5rem;
        border-radius: 50%;
        text-align: center;
    }
    h1 {
        color: $color-primary;
    }

    ul {
        margin: 1rem;
    }

    p {
        padding: 1.2rem;
        color: $color-primary;
    }

    .location {
        color: $color-accent;
        font-size: 1.2rem;
        font-weight: 700;
        margin-top: 0;
    }

    li {
        list-style: none;
        background-color: $background-secondary;
        color: $color-primary;
        border-radius: 5%;
        font-weight: 700;
        margin: 0.75rem auto;
        padding: 1.2rem;
    }
}

footer {
    color: $color-secondary;
    margin: 6.25rem auto 3.125rem auto;
    text-align: center;
    a {
        color: $color-accent;
    }
}
