//Responsive design
$mobile-width: 23.437rem;
$desktop-width: 90rem;

//Font style

$font-primary: "Inter", sans-serif;
$font-size: 16px;

//Colors
$background-body: #1f2544;
$background-primary: #474f7a;
$background-secondary: #81689d;
$color-primary: #fdffe2;
$color-secondary: #ffffff;
$color-accent: #c5ff95;
